{{ 'component-aux.css' | asset_url | stylesheet_tag }}

<section class="aux-page aux-page--center">
  <div class="page-width">
    <h1 class="aux-page__heading">Reset password</h1>
    <p class="aux-page__sub">Enter a new password for your account.</p>

    {%- form 'reset_customer_password', class: 'customer-form' -%}
      {{ form.errors | default_errors }}
      <div>
        <label for="ResetPassword">{{ 'customer.login.password' | t }}</label>
        <input type="password" name="customer[password]" id="ResetPassword" required>
      </div>
      <div>
        <label for="ResetPasswordConfirm">Confirm password</label>
        <input type="password" name="customer[password_confirmation]" id="ResetPasswordConfirm" required>
      </div>
      <button class="btn" type="submit">Reset password</button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Reset password",
  "settings": []
}
{% endschema %}
